*
{
	margin: 0;
	padding: 0;
}
body 
{
	overflow-x: hidden;
}
.a1 img
{
    margin-left: 50px;
}

.a1
{
	height: 700px;
	width: 100%;
	border: 1px solid;
	background: url(a1.png);
	background-size: cover;
	position:relative;
	border-radius: 20px;

}
.a2
{
	display: flex;
	gap: 30px;
	
}
.a2 li 
{
	font-size: 15px;
	color: white;
	font-style:canva;
	list-style-type: none;
	margin-top: 30px;
	gap: 90px;
}
.a2 li hover
{
	background-color: orange;
	transition: 1s;
}
.a3 button
{
	height: 50px;
	width: 200px;
	color: white;
	background-color: orange;
	margin-top: 20px;
	margin-left: 200px;


}
